.container {
  margin: 50px auto;
  min-height: calc(100vh - 223px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer {
  color: #fff;
  border-radius: 0;
  padding: 20px 0;
}

.footerInner {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer a {
  color: #fff;
  text-decoration: underline;
  border-radius: 0;
}

@media (max-width: 599px) {
  .container {
    min-height: calc(100vh - 215px);
  }
}