.header {
  position: relative;
  height: 90vh;
  width: 100vw;

  /* for > 1200px - otherwise margin 0 */
  margin-left: calc(((-100vw + 1200px) / 2) - 24px);
  margin-top: -114px;
  padding-top: 0;
  z-index: -1;
}
.background {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #85FFBD;
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
  display: flex;
  flex-grow: 1;
  z-index: -1;
}

.background div {
  position: absolute;
  border-radius: 100%;
  height: 0;
  filter: blur(240vw);
  opacity: 0.4;
}

.background div:nth-child(1) {
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
  width: 75%;
  padding-top: 75%;
  left: 0%;
  top: 0%;
  transform: translateX(-50%) translateY(-50%);
}

.background div:nth-child(2) {
  background-color: #F4D03F;
background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);

  width: 40%;
  padding-top: 40%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.background div:nth-child(3) {
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
  width: 74%;
  padding-top: 74%;
  left: 100%;
  top: 100%;
  transform: translateX(-50%) translateY(-50%);
}

.headerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 50px;
}

.section {
  padding: 200px 50px;
  max-width: 900px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .header {
    margin-left: -24px;
  }
}